@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap");

.input {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.input input {
  border: 1.8px solid;
  border-radius: 24px;
  outline: none;
  padding: 10px 16px;
  width: 45%;
  margin: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 22px;

  background-color: transparent;
}
