@import url("../../themeVars.css");

.post {
  display: flex;
  padding: 16px;
  gap: 16px;
  background-color: var(--bg-color-2);
  box-shadow: 0px 8px 6px 0px var(--shadow);
  border-radius: 75px;
}

.post__checkbox {
  display: flex;
  margin: 0 10px;
  align-items: center;
}
.post__checkbox input {
  cursor: pointer;
}

.post__wrapper {
  display: flex;
  width: 100%;
  gap: 18px;
}

.post__text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.post__text input {
  width: 100%;
}

.post__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
