@import url("../../themeVars.css");

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-3);
  border-radius: 100%;
}

.button img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 18px;
}

.button button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 200ms ease;
}

.button button:hover {
  transform: scale(1.2);
}
