.tasks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 14%;
}
.tasks__error {
  display: flex;
  margin: 0 auto;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: antiquewhite;
}
