@import url("../../themeVars.css");

.tasks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 14%;
}
.tasks__error {
  display: flex;
  margin: 0 auto;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: var(--bg-color-2);
}
