:root {
  /* light theme constants */
  --bg-color-1-light: white;
  --bg-color-2-light: antiquewhite;
  --bg-color-3-light: rgb(243, 205, 156);
  --bg-color-3-hover-light: rgb(250, 216, 172);
  --bg-color-4-light: rgb(255, 250, 242);

  --color-light: black;

  --shadow-light: rgba(207, 205, 205, 0.3);

  /* dark theme constants */
  --bg-color-1-dark: rgb(44, 44, 44);
  --bg-color-2-dark: rgb(39, 39, 39);
  --bg-color-3-dark: rgb(22, 22, 22);
  --bg-color-3-hover-dark: rgb(15, 15, 15);
  --bg-color-4-dark: rgb(22, 22, 22);

  --color-dark: rgb(219, 219, 219);

  --shadow-dark: rgba(0, 0, 0, 0.3);

  /* theme vars */
  --bg-color-1: var(--bg-color-1-light);
  --bg-color-2: var(--bg-color-2-light);
  --bg-color-3: var(--bg-color-3-light);
  --bg-color-3-hover: var(--bg-color-3-hover-light);
  --bg-color-4: var(--bg-color-4-light);

  --color: var(--color-light);

  --shadow: var(--shadow-light);
}
